@charset "utf-8";
html{min-width:1002px;}
body{ margin:0; padding:0; font-size:14px; font-family:"΢���ź�",Arial, Helvetica, sans-serif;}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
area{outline:none;}
img{ border:0;}
ol,ul{list-style:none;}
a{ font-family:"΢���ź�",Arial, Helvetica, sans-serif;text-decoration:none;outline:none;color:#696969;}
a:hover{ text-decoration:underline;}
.clearfix:after {content:"";display:block;height:0;clear:both;} 
.clearfix {zoom:1;}
.bg_bot{background:#dfdfdf url(../images/main160909/bg_bot.jpg) no-repeat center bottom}
.btn_more{font-family: "΢���ź�"}
.btn_more em{font-size:13px;}
/* ͨ������ */
.head{position: relative;width: 1230px;height:540px;margin:0 auto;}
.top_nav{position: absolute;left:200px;top:14px;overflow: hidden;}
.top_nav ul,.top_nav .line{float: left;}
.top_nav:hover a{display:block; }
.top_nav:hover .line{visibility:visible}
.top_nav .line{visibility:hidden}
.top_nav ul li{margin:0 15px;font-size:12px;text-align: center;}
.top_nav ul li strong{display:block;margin-bottom:8px;font-size:15px;color:#000;}
.top_nav ul li a{display:none;color:#727272;padding:4px 0;}
.top_nav ul li a:hover{text-decoration: underline;color:#000;}
.top_nav .line{margin-top:24px;width:0px;height:100px;border-right: 1px dotted #b0a7d3;}
.leftcol{float: left;width:221px;}
.leftcol h2{padding:18px 18px 10px;font-size:22px;font-weight: bold;color:#c01000;}

/* 健康公告 */
.notice{clear:both;margin:0 auto;width: 900px;padding-top:50px;padding-bottom:30px;font-family: "微软雅黑";}
.notice h5{font-size:18px;font-weight: bold;text-align: center;margin-bottom:15px;}
.notice p{font-size:14px;}
.notice p span{padding:0 10px;}
.suggest_box {
    width: 270px;
    height: 80px;
    margin-top: 20px;
}

.suggest_box a {
    display: block;
    width: 120px;
    height: 30px;
    /* background-color: #000; */
    float: left;
    margin: 5px;
    color: #C52600;
    font-size: 14px;
    text-align: center;
}